body{
  background-color:#3e4651;
  color:white;
}

#header {
    padding:2px;
    margin-bottom:50px;
    color:white;
    font-size: 2em;
    text-align: center;
    font-family: sans-serif;
}

#container {
  max-width: 600px;
  margin: 0 auto;
}


.square {
  border-radius:25px;
  width:30%;
  background: yellow;
  padding-bottom:30%;
  margin:1.66%;
  float:left;
}
